<div *ngIf="character">
    <h2>{{ character.name }}</h2>
    <img [src]="character.image" alt="{{ character.name }}" width="200">
  
    <p><strong>Casa:</strong> {{ character.house }}</p>
    <p><strong>Especie:</strong> {{ character.species }}</p>
    <p><strong>Género:</strong> {{ character.gender }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ character.dateOfBirth }}</p>
    <p><strong>Color de Ojos:</strong> {{ character.eyeColour }}</p>
    <p><strong>Color de Cabello:</strong> {{ character.hairColour }}</p>
    <p><strong>Patronus:</strong> {{ character.patronus }}</p>
  
    <h3>Varita</h3>
    <p><strong>Madera:</strong> {{ character.wand.wood }}</p>
    <p><strong>Núcleo:</strong> {{ character.wand.core }}</p>
    <p><strong>Longitud:</strong> {{ character.wand.length || 'Desconocida' }} pulgadas</p>
  
    <p><strong>Estudiante de Hogwarts:</strong> {{ character.hogwartsStudent ? 'Sí' : 'No' }}</p>
    <p><strong>Personal de Hogwarts:</strong> {{ character.hogwartsStaff ? 'Sí' : 'No' }}</p>
  
    <p><strong>Actor:</strong> {{ character.actor }}</p>
  
    <h3>Nombres Alternativos</h3>
    <ul>
      <li *ngFor="let altName of character.alternate_names">
        {{ altName }}
      </li>
    </ul>
  </div>
  
  <div *ngIf="!character">
    <p>No se encontró el personaje.</p>
  </div>
  